<app-header title = "Home O" user = "abbak"></app-header>


<app-a></app-a>
<app-b1></app-b1>
<app-b2></app-b2>

<hr>
<app-jokes></app-jokes>
<hr>

<app-user-profile (myEvent)="recivedData($event)"></app-user-profile>
<hr>

<app-pipes-example></app-pipes-example>


<!-- 

WE CAN USE for loop for in the parent to send @Input 's to child component 
Example:

    pages = 
    [
    {title = "home", user="abbake"},
    {title = "dashboard", user="somu"},
    {title = "setting", user="ravi"}
    ]

<app-header *ngFor="let page of pages" [title] = "page.title" [user] = "page.user"></app-header>

-->