ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    
}

nav{
    background-color: rgba(255, 99, 71, 0.985);
    padding: 20px;
}

span{
    color: white;
}

span:active{
    color: rgba(0, 0, 255, 0.821);
}